.button {
  height: initial;
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
  color: @color-white;
  text-decoration: none;
  background-image: url('../img/svg/button.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  &:hover {
    background-image: url('../img/svg/button--gray.svg');
  }
...
}



